/* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,200&family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
html,
#__next {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

b,
strong {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

.ui.pagination.menu {
  font-size: 3em;
  padding: 1em;
}

/* Pagination.css */
.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0; /* Adjusted margin for better spacing */
}

.custom-pagination .pagination > .item {
  border-radius: 50%;
  margin: 0 5px; /* Adjusted margin for better spacing */
  font-size: 1.2rem; /* Adjusted font size for better readability */
  width: 40px; /* Adjusted width */
  height: 40px; /* Adjusted height */
  line-height: 40px; /* Centered text vertically */
  text-align: center;
  padding: 0;
  border: 1px solid #6e6558; /* Example border color */
}

.pagination > .item.active {
  color: #eb3745 !important;
}

.pagination > .item:hover {
  color: #01002e; /* Example border color on hover */
}

.custom-pagination .pagination > .item.ellipsis {
  margin: 0 8px;
  font-size: 1.2rem; /* Adjusted font size for ellipses */
  color: #01002e;
}

.custom-pagination .ui.pagination.menu {
  font-size: 1.2rem; /* Adjusted font size for the whole pagination menu */
}

.item {
  margin: 4px; /* Reset margin for consistency */
}
